{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}



{% block title %}
Details
{% endblock %}


{% block content %}

<div class="details-title">
    <h1 class="card-title">{{card.name}}</h1>
    <h2 class="card-subtitle">{{card.pokemon}}</h2>


    <div class="card-section">
        <div class="card-images">
            

            <img src="{{info.sprites.front_default}}" />
            <img src="{{info.sprites.back_default}}" />
            <img src="{{info.sprites.front_shiny}}" />
            <img src="{{info.sprites.back_shiny}}" />
            <img src="{{info.sprites.front_female}}" alt="Famale Version" />
            <img src="{{info.sprites.back_female}}" alt="Famale Version"/>
            
        </div>
    </div>
</div>

<div class="details-columns">
    <div class="card-section">
        <div class="card-images">
        <h4>Abilities</h4>
        <ul>
            {% for entry in info.abilities %}

            {{entry.ability.name}}

            {% endfor %}
        </ul>
        </div>

    </div>

    <div class="card-images">
        <h4>Type</h4>
        <ul>
            {% for entry in info.types %}

            {{entry.type.name}}

            {% endfor %}
        </ul>

    </div>

    <div class="card-images" data-types="">
        <h4>Stats</h4>
        <ul class="stats-list">
            {% for entry in info.stats %}

            {{entry.type.name}}:{{entry.base_stat}}

            {% endfor %}
        </ul>
            

    </div>

    <div class="card-section">
        <h4>Moves</h4>
            <ul class="moves-list">
                {% for entry in info.moves %}

                {{entry.move.name}}

                {% endfor %}
            </ul>
    </div>
</div>

<div class="home">
    <h1>Purchase</h1>
    <p>If you're thinking about buying one of our cards, you can always add it to your cart!
    </p>

    <section class="card-grid">

        {% for card in card_list %}
        <div class="card" style="width: 18rem;">
            <img src="{% static card.image %}" class="card-img-top" alt="special delivery">
            <div class="card-body">
                <h4 class="card-title">{{card.name}}</h4>
                <h4 class="card-text">Market price - ${{card.price}}</h4>
                <a href="{% url 'details' card.id %}" class="btn btn-primary">More Info</a>
            </div>
        </div>    
        {% endfor %}

</section>


</div>



{% endblock %}
 