{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
Welcome
{% endblock %}

{% block content %}

<div class="home">
    <h1>Welcome</h1>
    <p>Our shop offers multiple cards for purchase, for any information on these cards please click the "More Info" button.
    </p>

    <section class="card-grid">

        {% for card in card_list %}
        <div class="card" style="width: 18rem;">
            <img src="{% static card.image %}" class="card-img-top" alt="special delivery">
            <div class="card-body">
                <h4 class="card-title">{{card.name}}</h4>
                <h4 class="card-text">Market price - ${{card.price}}</h4>
                <a href="{% url 'details' card.id %}" class="btn btn-primary">More Info</a>
            </div>
        </div>    
        {% endfor %}

</section>


</div>
{% endblock %}