footer {    
    margin-top: 2rem; 
    border-top: solid 2px url("../img/Pokemap.jpg");
}

footer nav {
    width: 100%;
}

footer nav a {
    color: var(--neutral-color);
    margin: 0px 1rem;
    height: 2rem;
}

footer nav a:hover {
    border-bottom: solid 3px var(--primary-color);
}